body{
      font-family: 'Poppins', sans-serif;
}
.hero-section{
    display:flex;
    flex-direction:row;
    justify-content: space-around ;
}
.logo{
    width:100%;
}
.nav-bar{
    display: flex;
    list-style-type: none;
    gap:10px;
    justify-content: space-around;
}
.nav-bar>li>a{
    text-decoration: none;
    color:black;
}

  
.header-select{
    padding:8px;
}
.related-sites{
    background-color: rgb(38, 85, 161);
    color:white;
    border-radius: 15px;
    padding:5px;
    width:35%;
}
.register{
    background-color: rgb(38, 85, 161);
    color:white;
    border-radius: 15px;
    padding:5px;
    width:28%

}
.header-select button{
    background-color: rgba(240, 248, 255, 0);
    border-radius: 15px;
    color:rgb(38, 85, 161);
    padding:5px;
    border:1px solid  rgb(38, 85, 161);
     width:23%
}
.image-container img{
    display:block;
    width:115%;
}
.overlay-text{
   padding-top: 80px;
   margin-left: 30px;
    width:30%;
/*     padding-bottom:100px; */
  margin-bottom:100px; 

} 

 
.image-container{
      background-image: url(images/imgi_37_hero.png);
      background-size:cover;
      max-width:100%;
      
      
}
.introduction{
    color:white;
    font-weight: 900;
    font-size: 30px;

}
.tagline{

}
.register-button{
    width:35%;
    border: 1px solid white;
    background-color: rgba(21, 21, 146, 0);
    color:white;
    border-radius: 15px;
    padding:5px;
}
.overview{
    background-image: url(/images/imgi_38_overview.png);
    background-size: cover;
    width:98%;
    height: 300px;
    padding:15px;
    
}

 .overview-heading{
    color:#1648bb;
    font-weight:500;
    font-size:20px;
 }
 .overview-flex{
    display:flex;
    gap:10px;
 }
 .overview-intro{
    width:50%;
    font-weight: 400;
 }
 .overview-content{
    width:50%;
    color:rgb(43, 43, 43);
    font-size:12px;
 }
 .benefits{
  
    display:flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
    align-items:center;
    
 }
 .benefits-heading {
    width:50%;
    
 }
 .benefits-heading h2{
    color:#0047BA;
 } 

 .benefits-image {
    width:50%;
    background-color: rgb(146, 127, 146);
    
    
 }
 .benefits-image img{
    width:100%;


 }
 .registration{
    display:flex;
    justify-content:space-between;
    align-items: center;
 }
 .registration-text{
    width:50%;
 }
 .registration-text h2{
   color:#0047BA;  
 }
 .registration-image{
    width:50%;
 }
  .registration-image img{
    width:100%;
 }
/* web registration */
.web-reg{
    width: 95%;
    background-color: whitesmoke;
    margin:10px auto;
    border-radius: 8px;
    padding:8px;
}
.web-reg h2{
    text-align: center;
    color: #0047BA;
}

.web-reg ul{
    list-style-type: none;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.web-reg a{
    text-decoration: none;
    color:#0047BA;
    
}
.web-reg a:hover{
    border-bottom:2px solid #0047BA;
}
.steps{
       display:flex;
       flex-wrap: wrap;
       justify-content: space-between;
      
       align-items: center;
}
.steps div{
    width:45%;
}
.steps div img{
    width:100%;
}
 .steps span{
    display:inline-block;
    background-color: #0047ba;
    width:20px;
    height:20px;
    padding: 2px;
    margin:2px;
    border-radius:50%;
    text-align:center;
    color:white;
    font-weight: bold;

} 
 
 /* responsiveness styling */
 .menu{
    display:none;
 }
 @media (max-width:600px) {

.header-select{
    display:none;
}
nav{
    display:none;
}
.menu{
    display:block;
}
.hero-section{
    display:flex;
    flex-direction:row;
    justify-content: space-around ;
}
    
 }
